body{
    color: #40514e;
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 5.625rem; 
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #66bfbf;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}

p{
    margin: 0px;
    line-height: 2;
}
hr{
    border: 5px  #eaf6f6 dotted;
    width: 5%;
    border-bottom: none;
    margin: 100px auto;
}

img{
    display: inline-block;
}
.intro{
    width:30%;
    margin: auto;
    

}
.pro{
    text-decoration: underline;
}

.top{
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
}

.middle{
    margin: 100px 0;
    
}



.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    
}
.self{
    margin-top: 15px;
    border-radius: 100%;
    width: 15%;
    height: auto;
}

.skillsIMG{
    border-radius: 100%;
    border-style: solid;
    border-color: darkgray;
    width: 30%;
    height: auto;
    float: left;
    margin-right: 30px;
    
}

.gamingIMG{
    border-radius: 100%;
    width: 30%;
    height: auto;
    padding-top: 10px;
    float: right;
    margin-left: 30px;
}

.btn {
    padding-top: 50px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .contact-me{
    margin: 100px auto;
  }

  .contact-p{
    padding-bottom: 50px;
  }
  
  .bottom{
    background-color: #66bfbf;
    padding: 40px 0 20px; 
  }

  .social-links{
    display: inline;
    margin: 10px 20px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #11999E; 
  }

  .social-links:hover{
    color: #eaf6f6;
  }
  .bottom-p{
    padding: 20px 0;
    font-size: 0.75rem;
    color: #eaf6f6;
  }